In [ ]:
name=raw_input("Enter the name")
age = raw-input("enter age")
height=raw_input("Enter height")
print ("name age and height of the personi ")

In [5]:
#'hello', I am in "hyderabad"

print "'hello', i am in \"hyderabad\"."

'hello', i am in "hyderabad".

In [6]:
print '\'hello\', i am in "hyderabad".'

'hello', i am in "hyderabad".

In [7]:
print "line1"
print "line2"

line1
line2

In [8]:
print "line1\nline2"

line1
line2

In [9]:
print "line1\tline2"

line1	line2

In [12]:
print "line1\\tline\\nakfjdakf\\ndjfakjkdj\\nfjkajfk\n"

line1\tline\nakfjdakf\ndjfakjkdj\nfjkajfk

In [15]:
print "types of strings"
print "Normal string : abcde\nfghijkl\tmnopqrst\nuvwxyz"
print r"Raw string :abcde\nefghij\nklmnop\tqrstuvw\txyz"

types of strings
Normal string : abcde
fghijkl	mnopqrst
uvwxyz
Raw string :abcde\nefghij\nklmnop\tqrstuvw\txyz

In [19]:
cost_price=23.456789
print "cost price of the product:",cost_price

cost price of the product: 23.456789

In [21]:
cost_price=23.6789
print "cost price of the product:"+cost_price

TypeError: cannot concatenate 'str' and 'float' objects

In [23]:
cost_price=23.456789
print "format specifiers"
print "cost price of the product:"+str(cost_price)

format specifiers
cost price of the product:23.45

In [24]:
cost_price=23.456789
print "format specifiers"
print "cost price of the product:%f"%cost_price
#it will convert into string internally

format specifiers
cost price of the product:23.456789

In [25]:
cost_price=23.456789
print "format specifiers"
print "cost price of the product:%.2f"%cost_price
#it will convert into string internally

format specifiers
cost price of the product:23.46

In [29]:
cost_price=23.456789
print "format specifiers"
print "cost price of the product:%d"%cost_price
print "cost pice of the product:"+str(int(cost_price))
#it will convert and put into string internally

format specifiers
cost price of the product:23
cost pice of the product:23

In [37]:
name="jeevana"
age=25
height=5.6
#print "insert into customer(name,age,height) values ('"+name"',"+str(age)+","+str(height)+")"
print "insert into customer(name, age, height) values ('%s',%s,%.2f)"%(name,age,height)

insert into customer(name, age, height) values ('jeevana',25,5.60)

In [41]:
#print name ,weight ,height
name = "jeevana"
weight =75
Height =5.6
print "Person Name: %s weight: %d height: %.2f"%(name,weight,height)

Person Name: jeevana weight: 75 height: 5.60

In [54]:
letter=raw_input("Enter into single letter")
letter= chr(ord(letter)-32)
print letter

Enter into single letterm
M

In [52]:
chr(ord('r')-32)

'R'

In [51]:
ord('r')

114

In [57]:
a="line1\nline2"
print "%r"%a
print "%s"%a

'line1\nline2'
line1
line2

In [59]:
a=123
bin(a)

'0b1111011'

In [ ]:
a=